discord
lxml
https://github.com/heinrich26/imgkit/archive/refs/tags/V1.2.2.1.zip
pillow
discord-py-slash-command
requests
beautifulsoup4
https://github.com/heinrich26/DSBApi/archive/refs/tags/v0.0.15.zip
